body {
    margin: 0px;
    font-family: Roboto, Arial, sans-serif;
}

#welcome{
    padding: .5em 0px;
    background-color: #A8D1D1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

#head {
    background-color: #A8D1D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

#name {
    display: flex;
    padding-left: 1em;
    align-items: center;
}

.logo {
    align-self: center;
    display: block;
    margin: auto;
}

.wlc {
    margin: 0px;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.logwlc {
    text-align: center;
}

.owlc {
    padding-left: .1em;
}

#nav {
    margin: 0px;
    display: flex;
    list-style-type: none;
    align-items: center;
}

li {
    color: white;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
}

li button {
    display: block;
    color: white;
    padding: 1em 1em;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #A8D1D1;
    font-size: 1em;
    font-family: Roboto, Arial, sans-serif;
}

li a:hover:not(.actv), li button:hover {
    background-color: #3A98B9;
}

.type {
    background-color: #87BFBF;
    border: 1px solid #bbb;
    padding: .5em;
    border-radius: .4em;
    margin-right: 1em;
}

.actv {
    background-color: #247BA0;
}

#main {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30%;
    min-width: 400px;
    margin-top: 3em;
    margin-bottom: 3em;
}

form {
    border: 1px solid #f1f1f1;
    border-radius: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fh {
    text-align: center;
    font-size: 2em;
    color: black;
    font-weight: 300;
    margin: 1.5em 0em 0em 0em;
}

input[type="text"],input[type="email"], input[type="password"], select[name] {
    width: 100%;
    padding: 1em .8em;
    margin: .5em 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bold {
    font-weight: 500;
}

.btn {
    background-color: #A8D1D1;
    color: white;
    font-size: 1em;
    padding: 14px 0;
    margin: 1em 0px 0px 0px;
    border: none;
    border-radius: .25em;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    opacity: 0.8;
}

.formcontainer {
    text-align: left;
    margin: .5em 3em 3em 3em;
}

.container {
    padding: 1em 0;
	text-align: left;
}

#courses {
	border-collapse: collapse;
	width: 75%;
	line-height: 2.5em;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
  	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
		
#courses td, #courses th {
 	padding: .5em;
  	border: none;
}
		
#courses tr:nth-child(even) {
	background-color: #f2f2f2;
}
		
#courses tr:hover {
	background-color: #ddd;
}
		
#courses th {
	background-color: #A8D1D1;
	color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#foot > p {
    text-align: center;
    padding-top: .5em;
}